/*changes webpage to present border box and have padding and margin of 0*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*body background color set to #d9dcd6*/
body {
    background-color: #d9dcd6;
}

/*heading adjustments font-family, font color, background color, and padding*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*header 'Horiseon' settings adjusts font size and display: inline-block*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*changes the color of 'seo' in the 'horiseon' header*/
.header h1 .seo {
    color: #d9dcd6;
}

/*navigation bar settings: padding-top, margin-right, float-right, font-family, and font-size*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*removes bullets from nav bar with list-style-type:none*/
.header nav ul {
    list-style-type: none;
}

/*list elements of the nav bar to include margin-left of 25px and display: inline-block*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* All link colors will be white without any text-decoration*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Fony size of ALL <p> elements will be set to 16px*/
p {
    font-size: 16px;
}


/*digital marketing image settings (focus of the webpage) */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 14px;
    

    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*figcaption settings of digital marketing image, text will align left and be a size of 18px */
.figcaption-marketing-meeting {
    text-align: left;
    font-size:18px;

}

/* Images that are supposed to be on the left side will float left along with the corresponding fig captions*/
.float-left, .figcaption-float-left {
    float: left;
    margin-right: 25px;
}

/* Images that are supposed to be on the left side will float right along with the corresponding fig captions*/
.float-right, .figcaption-float-right {
    float: right;
    margin-left: 25px;
}

/*main content settings to adjust width, margin-left, and display: inline-block*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*changes contents of aside settings*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*text content settings for aside sections, allows space between each element, centers the text, and text-color to white*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

/*headers of aside elements settings*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Aside elements images and fig captions settings*/
.benefit-lead img, .benefit-brand img, .benefit-cost img, .aside-figcaption {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*text settings of the three main sections of the webpage adjusting  margin-bottom, padding,
height, font-family, background color, and color of text*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*image settings of the three main sections to have a max-height of 200px*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img  {
    max-height: 200px;
}

/*header settings of the three main sections making the font size larger to 36px
 and having a margin-bottom of 20px for separation*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*footer settings*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*copyrighted company info footer settings*/
.footer h2 {
    font-size: 20px;
}
